/* プルダウンの矢印カスタマイズ */
#tsuki {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    position: relative;
}
#tsuki option{
    background-color: #c0c0c0;
}

#ajax-div {
    position: relative;
    display: inline-block;
}

#ajax-div::after {
    content: '▼';
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}